<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notflix</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">

</head>
<body>
    <header>
<div class="logo">
        <img src="../static/images/logo_.png" alt="Logo">
    </div>

        <div class="search-bar" >
            <form action="/searches" method="POST">
            <input type="text" name="movie_name"  placeholder="Paste the IMbd movie name...">
            </form>
        </div>

    </header>
<main style="margin-left:0px;">
    <div class="carousel">
        <div class="carousel-track">
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Sonic the Hedgehog</h1>
                    <p>A speedy hedgehog teams up with a small-town sheriff to stop an evil genius from capturing and using his powers.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Oppenheimer</h1>
                    <p>The story of J. Robert Oppenheimer, the physicist who led the Manhattan Project to develop the atomic bomb during World War II.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Interstellar</h1>
                    <p>A group of astronauts embarks on a journey through a wormhole near Saturn in search of a new habitable planet for humanity's survival.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Inception</h1>
                    <p>A skilled thief who enters the dreams of others to steal their secrets is tasked with planting an idea into the mind of a CEO.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Everything Everywhere All at Once</h1>
                    <p>A woman discovers the multiverse and must navigate through multiple dimensions to save her family and the universe.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>Jurassic Word</h1>
                    <p>A world where all the dinosaurs survived in the jurassic era.</p>

                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-text">
                    <h1>The Pursuit of Happyness</h1>
                    <p>Based on real life incidents of an American businessman Chris Gardener.</p>

                </div>
            </div>
        </div>
    </div>
</main>


